@import 'utility';

$base-text-size: 16px;
$base-font-family: sans-serif;

html {
  @include full-height;
}

body {
  margin: 0;
  font: $base-text-size / 1 $base-font-family;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #ddd;
  text-align: center;
}

.Gameboard {
  margin: 100px 0;
  width: 500px;
  height: 300px;
  background-color: grey;
  border: solid 2px yellow;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;

  .Cell {
    background-color: teal;
  }

  .active {
    background-color: yellow;
  }
}

.Toolbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;

  .tool-button {
    width: 24px;
    margin: 0;
  }
}
